ion-content {
  --background: linear-gradient(
      180deg, rgba(255, 205, 140, 0.5) 43.59%, rgba(255, 209, 148, 0) 100%), #70E1F5;
}

ion-item {
  --background: #fdfdfd93;
  mix-blend-mode: darken;
  
  
}

ion-card-title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;

color: #000000;

}
ion-card{
  --background: #d0d0d02c;
  mix-blend-mode: darken;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}


ion-label{
  opacity: 70%;
}

ion-input{
  --color: #000000;
  --highlight-color-focused: #000000; 
}

ion-button{
  --background: #FFE7C8;
  --color: black;

}
.color_toolbar {
  --background: #3494E6;
  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #EC6EAD, #3494E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
ion-icon{
  color: white;
}

.color_footer{
  --background: #3494E6;
  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #EC6EAD, #3494E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer {
  text-align: center;
  font-size:x-small;
}

.circulo {
  box-sizing: border-box;
  width: 100px;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo_optica {

  text-align: center;
}
